@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header, .footer {
  background-color: #1F2937;
}

.header {
  padding: 6px 440px;
}

.header-logo {
  font-weight: bold;
  font-size: 24px;
}

.header-links {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a {
  text-decoration: none;
}

.header-links a, 
.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo a,
.hero-main-text,
.sign-up {
  color: #F9FaF8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lower {
  display: flex;
  margin: 110px 0;
  justify-content: space-between;
  gap: 110px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 0;
}

.hero-image {
  height: 240px;
  width: 650px;
  background-color: #6d747d;
  flex: 1 0 0;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.sign-up {
  background-color: #3882F6;
  border-radius: 8px;
  width: 130px;
  height: 36px;
  margin-top: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 800px;
  padding: 0;
  gap: 40px;
  margin-top: 48px;
}

.info {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image {
  height: 150px;
  width: 150px;
  border: 4px solid #3b82f6;
  border-radius: 16px;
}

.info-text {
  text-align: center;
  color: #4b5563;
  margin-top: 12px;
  font-size: 18px;
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0 110px 0;
}

.third-row {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 110px 440px;
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  align-self: center;
  max-width: 790px;
}

.quotee {
  align-self: flex-end;
  font-weight: 700;
  font-size: 24px;
  padding-right: 128px;
}